.Colors {
  display: flex;
  padding: 10px;
}

.ColorSquareWrapper {
  display: grid;
  padding: 5px;
  justify-items: center;
  align-items: center;
}

.ColorSquare {
  border: rgb(17, 17, 17) 2px solid;
  height: 40px;
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
  position: relative;
}

.ColorSquare:hover {
  border: rgb(17, 17, 17) 1px solid;
  transform: scale(1.2);
  transition: 0.4s;
}

/*
.ColorSquare:hover {
  border: rgb(255, 255, 255) 1px solid;
  color: aliceblue;
  border-radius: 10px;
  transition: 0.7s;
}
*/

.ColorSquareSelected {
  position: absolute;
  right: 30%;
  top: 30%;
  color: rgb(7, 241, 7);
}
